<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ttdubbo="http://ttdubbo.clinks.com.cn/schema/ttdubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://ttdubbo.clinks.com.cn/schema/ttdubbo
		http://ttdubbo.clinks.com.cn/schema/ttdubbo.xsd"

>


    <ttdubbo:application id="app1"  name="ttdubboTest" version="0.0.1" />
    <ttdubbo:registry id="reg1" address="192.168.1.101" port="80" />

</beans>